body {
    text-align: center;
}

.Container {
  width: 90%;
  margin: 0 auto;
}

.ItemsForm {
  width: 500px;
  background-color: #a70a0a;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 20px auto;
  padding: 20px 0;
}

.ItemsForm h3 {
  color: white;
}

.Item {
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
}

.Order {
  width:  500px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
  padding: 20px 0;
  border: 1px solid black;

}

.OrderItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4px 0;

}

.OrderItemElement {
  align-items: center;
  margin: 0 7px;
}
